<h1>ようこそ <strong>Bookers</strong> へ！</h1>
<ul>
  <li class="homes-text"><strong>Bookers</strong>  では、さまざまな書籍に関するあなたの意見や</li>
  <li class="homes-text">印象を共有し交換することができます</li>
  <li class="homes-text"><a href="/books">start</a></li>
</ul>