* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  font-size: 13px;
  margin: 33px;
}

h1 {
  margin: 17.420px 0 ;
}


tr {
  width: 554px;
}

th {
  padding: 1px 1px 5px 1px;
}

td {
 padding: 1px 5px 7px 5px;
}

.field {
  margin-bottom: 10px;
}

.submit {
  display:block;
}


.flash-message.notice {
  color: green;
}


.errors-text {
  margin: 33px;
  color: red;
}


.errors-title {
  color: red;
}



.homes-text {
  margin: 33px;
  list-style:none
}






.table-title {
  width: 134.797px;
}

.table-body {
  width: 265.812px;
}

.table-pathã€€{
  width: 143.391px;
}

.table-show {
  width: 35.656px;
}

.table-edit {
  width: 25.016px;
}

.table-destroy {
  width: 50.719px;
}






.index-new-title {
  margin: 16.185px 0 ;
}







.show-title {
  margin: 33px;
}

.show-body {
  margin: 33px;
}



