// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  font-size: 13px;
  margin: 33px;
}

h1 {
  margin: 17.420px 0 ;
}

.submit {
  display:block;
}

th {
  margin: 1px 1px 5px 1px ;
}

td {
  margin: 1px 5px 7px 5px ;
}



.homes-text {
  margin: 33px;
  list-style:none
}




.index-new-title {
  margin: 16.185px 0 ;
}

.index-errors-text {
  margin: 33px;
}

.index-new-text {
  margin-bottom: 10px;
}









